# node_modules
js_cucumber/node_modules

# java
java_cucumber/target
java_cucumber/.settings/
java_cucumber/.project
java_cucumber/.classpath


.DS_Store

.vscode/

# feature files
go_godog/src/features/*.feature
java_cucumber/src/test/resources/java_cucumber/*.feature
js_cucumber/features/*.feature
py_behave/*.feature

