version: '3'

services:
  algod:
    image: "sdk-harness-algod"
    container_name: sdk-harness-algod
    build:
      context: .
      dockerfile: "./docker/algod/${TYPE:-channel}/Dockerfile"
      args:
        # This is used with TYPE="channel" to override the channel.
        CHANNEL: "${CHANNEL:-nightly}"
        
        # This is used with TYPE="source" to override the git information.
        URL: "${ALGOD_URL:-https://github.com/algorand/go-algorand}"
        BRANCH: "${ALGOD_BRANCH:-master}"
    ports:
      - 60001:60001
      - 60000:60000
    networks:
      - sdk-harness
    volumes:
      - genesis-file:/genesis-file

  # Live indexer instance connected to algod
  indexer-live:
    image: "sdk-harness-indexer-live"
    container_name: sdk-harness-indexer-live
    build:
      context: .
      dockerfile: ./docker/indexer/Dockerfile
      args:
        # allow override of the git information.
        URL: "${INDEXER_URL:-https://github.com/algorand/indexer}"
        BRANCH: "${INDEXER_BRANCH:-develop}"
    ports:
      - 60002:8980
    restart: unless-stopped
    networks:
      - sdk-harness
    environment:
      TYPE: "live"
      CONNECTION_STRING: "host=indexer-db port=5432 user=algorand password=harness dbname=live sslmode=disable"
    volumes:
      - genesis-file:/genesis-file

  # Applications Branch using dataset1
  indexer-221-1:
    image: "sdk-harness-indexer-release"
    container_name: sdk-harness-indexer-release
    build:
      context: .
      dockerfile: ./docker/indexer/Dockerfile
      args:
        URL: "https://github.com/algorand/indexer"
        BRANCH: "master"
        # Is there a reason why we're still pinning to a particular commit?
        SHA: "a30878e3669310c30a2b916fb41511516b906c9a"
    ports:
      - 59999:8980
    restart: unless-stopped
    networks:
      - sdk-harness
    environment:
      TYPE: "snapshot"
      SNAPSHOT_FILE: /tmp/dataset1.tar.bz2
      CONNECTION_STRING: "host=indexer-db port=5432 user=algorand password=harness dbname=dataset1 sslmode=disable"

  # Applications Branch using dataset2
  indexer-221-2:
    image: "sdk-harness-indexer-applications"
    container_name: sdk-harness-indexer-applications
    build:
      context: .
      dockerfile: ./docker/indexer/Dockerfile
      args:
        URL: "https://github.com/algorand/indexer"
        BRANCH: "master"
        # Is there a reason why we're still pinning to a particular commit?
        SHA: "a30878e3669310c30a2b916fb41511516b906c9a"
    ports:
      - 59998:8980
    restart: unless-stopped
    networks:
      - sdk-harness
    environment:
      TYPE: "snapshot"
      SNAPSHOT_FILE: /tmp/dataset2.tar.bz2
      CONNECTION_STRING: "host=indexer-db port=5432 user=algorand password=harness dbname=dataset2 sslmode=disable"

  # Create/Delete/Rewards Branch using dataset1
  indexer-23x-1:
    image: "sdk-harness-indexer-23x-1"
    container_name: sdk-harness-indexer-23x-1
    build:
      context: .
      dockerfile: ./docker/indexer/Dockerfile
      args:
        URL: "https://github.com/algorand/indexer"
        # Can we follow up on this now?
        # TODO: Set back to master when include-all makes it to master.
        BRANCH: "develop"
        SHA: "cf93e3acacdf6fde9afd0b6b24fa0fde723ff43b"
    ports:
      - 59997:8980
    restart: unless-stopped
    networks:
      - sdk-harness
    environment:
      TYPE: "snapshot"
      SNAPSHOT_FILE: /tmp/dataset1.tar.bz2
      CONNECTION_STRING: "host=indexer-db port=5432 user=algorand password=harness dbname=dataset1_2 sslmode=disable"

  # Create/Delete/Rewards Branch using dataset2
  indexer-23x-2:
    image: "sdk-harness-indexer-23x-2"
    container_name: sdk-harness-indexer-23x-2
    build:
      context: .
      dockerfile: ./docker/indexer/Dockerfile
      args:
        URL: "https://github.com/algorand/indexer"
        # Can we follow up on this now?
        # TODO: Set back to master + SHA when include-all makes it to master.
        BRANCH: "develop"
        SHA: "cf93e3acacdf6fde9afd0b6b24fa0fde723ff43b"
    ports:
      - 59996:8980
    restart: unless-stopped
    networks:
      - sdk-harness
    environment:
      TYPE: "snapshot"
      SNAPSHOT_FILE: /tmp/dataset2.tar.bz2
      CONNECTION_STRING: "host=indexer-db port=5432 user=algorand password=harness dbname=dataset2_2 sslmode=disable"

  indexer-db:
    image: "postgres"
    container_name: sdk-harness-postgres
    volumes:
      - ./docker/indexer/init-scripts:/docker-entrypoint-initdb.d
    ports:
      - 65432:5432
    networks:
      - sdk-harness
    environment:
      POSTGRES_USER: algorand
      POSTGRES_PASSWORD: harness
      POSTGRES_MULTIPLE_DATABASES: live, dataset1, dataset2, dataset1_2, dataset2_2

networks:
  sdk-harness:

volumes:
  genesis-file:
