version: '3'

services:
  algod:
    image: "sdk-harness-algod"
    container_name: sdk-harness-algod
    build:
      context: .
      dockerfile: "./docker/algod/${TYPE}/Dockerfile"
      args:
        # This is used with TYPE="channel" to override the channel.
        CHANNEL: "nightly"
        
        # This is used with TYPE="source" to override the git information.
        URL: "https://github.com/algorand/go-algorand"
        BRANCH: "master"
    ports:
      - 60001:60001
      - 60000:60000
    networks:
      - sdk-harness
  indexer:
    image: "sdk-harness-indexer"
    container_name: sdk-harness-indexer
    build:
      context: .
      # TODO: Add type option to indexer for building by source
      dockerfile: ./docker/indexer/Dockerfile
    ports:
      - 59999:8980
    restart: unless-stopped
    networks:
      - sdk-harness
    environment:
      DATABASE_NAME: dataset1

  indexer-db:
    image: "postgres"
    container_name: sdk-harness-postgres
    volumes:
      - ./docker/indexer/init-scripts:/docker-entrypoint-initdb.d
    ports:
      - 5433:5432
    networks:
      - sdk-harness
    environment:
      POSTGRES_USER: algorand
      POSTGRES_PASSWORD: harness
      POSTGRES_MULTIPLE_DATABASES: dataset1

networks:
  sdk-harness:
